.el-row {
  margin-bottom: 20px;
}
.el-col {
  border-radius: 4px;
}
.el-table{
  width: 100%;
}
.handle-button{
  margin-left: 50%;
}
.el-form-item{
  width: 50%;
}
.el-form-item-input{
  width: 50%;
}
