.demo-container{
  width: 80%;
  margin-left: 10%;
  min-height: -webkit-fill-available;
}

.demo-header {
  background-color: #409EFF;
  color: #fff;
  line-height: 60px;
}
.demo-main{
  background-color: aliceblue;
}
.demo-menu{
  background-color: aliceblue;
}
.demo-footer{
  background-color: aliceblue;
}
